---
http_interactions:
- request:
    method: post
    uri: https://demo.bothan.io/metrics/my-new-target-metric
    body:
      encoding: UTF-8
      string: '{"time":"2016-11-28T09:00:00","value":{"actual":1091000,"annual_target":2862000,"ytd_target":1368000}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: "<h1>Internal Server Error</h1>"
  recorded_at: Fri, 02 Dec 2016 21:18:52 GMT
- request:
    method: get
    uri: https://demo.bothan.io/metrics/my-new-target-metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"_id":{"$oid":"5841e5186fa6570004f8d018"},"name":"my-new-target-metric","time":"2016-11-28T09:00:00.000+00:00","value":{"actual":1091000,"annual_target":2862000,"ytd_target":1368000}}'
  recorded_at: Fri, 02 Dec 2016 21:18:52 GMT
recorded_with: VCR 3.0.3
