---
http_interactions:
- request:
    method: post
    uri: https://demo.bothan.io/metrics/my-new-incremental-metric/increment/1
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 14 Dec 2016 11:46:32 GMT
- request:
    method: get
    uri: https://demo.bothan.io/metrics/my-new-incremental-metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"_id":{"$oid":"5851311816054e000433d882"},"name":"my-new-incremental-metric","time":"2016-12-14T11:46:32.166+00:00","value":1}'
  recorded_at: Wed, 14 Dec 2016 11:46:32 GMT
recorded_with: VCR 3.0.3
