---
http_interactions:
- request:
    method: post
    uri: https://demo.bothan.io/metrics/my-awesome-mulitple-metric
    body:
      encoding: UTF-8
      string: '{"time":"2016-11-28T09:00:00","value":{"total":{"value1":123,"value2":23213,"value4":1235}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 05 Dec 2016 09:29:01 GMT
- request:
    method: get
    uri: https://demo.bothan.io/metrics/my-awesome-mulitple-metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"_id":{"$oid":"5845335cc5661700040e61de"},"name":"my-awesome-mulitple-metric","time":"2016-11-28T09:00:00.000+00:00","value":{"total":{"value1":123,"value2":23213,"value4":1235}}}'
  recorded_at: Mon, 05 Dec 2016 09:29:01 GMT
recorded_with: VCR 3.0.3
