---
http_interactions:
- request:
    method: post
    uri: https://demo.bothan.io/metrics/my-awesome-geo-metric
    body:
      encoding: UTF-8
      string: '{"time":"2016-11-28T09:00:00","value":{"type":"FeatureCollection","features":[{"type":"Feature","geometry":{"type":"Point","coordinates":[-2.6156582783015017,54.3497405310758]}},{"type":"Feature","geometry":{"type":"Point","coordinates":[-6.731370299641439,55.856756177781186]}}]}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 05 Dec 2016 09:38:46 GMT
- request:
    method: get
    uri: https://demo.bothan.io/metrics/my-awesome-geo-metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"_id":{"$oid":"584535a6c5661700040e61e0"},"name":"my-awesome-geo-metric","time":"2016-11-28T09:00:00.000+00:00","value":{"type":"FeatureCollection","features":[{"type":"Feature","geometry":{"type":"Point","coordinates":[-2.6156582783015017,54.3497405310758]}},{"type":"Feature","geometry":{"type":"Point","coordinates":[-6.731370299641439,55.856756177781186]}}]}}'
  recorded_at: Mon, 05 Dec 2016 09:38:46 GMT
recorded_with: VCR 3.0.3
