---
http_interactions:
- request:
    method: post
    uri: https://demo.bothan.io/metrics/my-new-metric
    body:
      encoding: UTF-8
      string: '{"time":"2016-11-28T09:00:00","value":12}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 02 Dec 2016 21:14:33 GMT
- request:
    method: get
    uri: https://demo.bothan.io/metrics/my-new-metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"_id":{"$oid":"5841e4386fa6570004f8d016"},"name":"my-new-metric","time":"2016-11-28T09:00:00.000+00:00","value":12}'
  recorded_at: Fri, 02 Dec 2016 21:14:34 GMT
recorded_with: VCR 3.0.3
