---
http_interactions:
- request:
    method: post
    uri: https://demo.bothan.io/metrics/my-awesome-new-target-metric
    body:
      encoding: UTF-8
      string: '{"time":"2016-11-28T09:00:00","value":{"actual":1091000,"annual_target":2862000}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 05 Dec 2016 09:13:12 GMT
- request:
    method: get
    uri: https://demo.bothan.io/metrics/my-awesome-new-target-metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"_id":{"$oid":"58452fa8c5661700040e61dc"},"name":"my-awesome-new-target-metric","time":"2016-11-28T09:00:00.000+00:00","value":{"actual":1091000,"annual_target":2862000}}'
  recorded_at: Mon, 05 Dec 2016 09:13:13 GMT
recorded_with: VCR 3.0.3
