---
http_interactions:
- request:
    method: get
    uri: https://demo.bothan.io/metrics/simple-metric/2016-11-28T07:00:16.534+00:00
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"_id":{"$oid":"58411c0044f5440004aaad23"},"name":"simple-metric","time":"2016-11-28T07:00:16.534+00:00","value":16}'
  recorded_at: Fri, 02 Dec 2016 14:53:41 GMT
recorded_with: VCR 3.0.3
