---
http_interactions:
- request:
    method: get
    uri: https://demo.bothan.io/metrics/simple-metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"_id":{"$oid":"58411c0044f5440004aaad03"},"name":"simple-metric","time":"2016-12-02T07:00:16.450+00:00","value":22}'
  recorded_at: Fri, 02 Dec 2016 14:14:41 GMT
recorded_with: VCR 3.0.3
