---
http_interactions:
- request:
    method: post
    uri: https://demo.bothan.io/metrics/brand-new-incremental-metric
    body:
      encoding: UTF-8
      string: '{"time":"2016-12-14T14:42:08+00:00","value":4}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 14 Dec 2016 14:42:20 GMT
- request:
    method: post
    uri: https://demo.bothan.io/metrics/brand-new-incremental-metric/increment/1
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 14 Dec 2016 14:42:21 GMT
- request:
    method: get
    uri: https://demo.bothan.io/metrics/brand-new-incremental-metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"_id":{"$oid":"58515a4dfc5401000455a72a"},"name":"brand-new-incremental-metric","time":"2016-12-14T14:42:21.665+00:00","value":5}'
  recorded_at: Wed, 14 Dec 2016 14:42:21 GMT
recorded_with: VCR 3.0.3
