---
http_interactions:
- request:
    method: post
    uri: https://demo.bothan.io/metrics/another-new-incremental-metric
    body:
      encoding: UTF-8
      string: '{"time":"2016-12-14T14:43:15+00:00","value":4}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 14 Dec 2016 14:43:15 GMT
- request:
    method: post
    uri: https://demo.bothan.io/metrics/another-new-incremental-metric/increment/10
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 14 Dec 2016 14:43:16 GMT
- request:
    method: get
    uri: https://demo.bothan.io/metrics/another-new-incremental-metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"_id":{"$oid":"58515a83fc5401000455a72d"},"name":"another-new-incremental-metric","time":"2016-12-14T14:43:15.891+00:00","value":14}'
  recorded_at: Wed, 14 Dec 2016 14:43:16 GMT
recorded_with: VCR 3.0.3
